# CMFGEN

Database from John Hillier’s CMFGEN, a radiative transfer code designed to solve the radiative transfer and statistical equilibrium equations in spherical geometry.

<div class="alert alert-info">

**Note:**
    
In this example, the data was downloaded from the [CMFGEN website](http://kookaburra.phyast.pitt.edu/hillier/web/CMFGEN.htm) and extracted to the `/tmp/atomic` folder.
    
</div>

## Parsers

The CMFGEN parsers read data from text files and retrieves the information as DataFrames. Currently `osc`, `col` and `pho` files are supported.


### Levels, Lines and Collisions

Energy levels and spectral lines are stored in the `osc` files, while collisions strengths are kept in the `col` files.

In [1]:
from carsus.io.cmfgen import CMFGENEnergyLevelsParser, CMFGENOscillatorStrengthsParser, CMFGENCollisionalStrengthsParser

 ChiantiPy version 0.8.4
 found PyQt5 widgets
 using PyQt5 widgets

In [2]:
si2_lvl = CMFGENEnergyLevelsParser('/tmp/atomic/SIL/II/16sep15/si2_osc_kurucz')

In [3]:
si2_osc = CMFGENOscillatorStrengthsParser('/tmp/atomic/SIL/II/16sep15/si2_osc_kurucz')

In [4]:
si2_col = CMFGENCollisionalStrengthsParser('/tmp/atomic/SIL/II/16sep15/si2_col')

The header information is stored in the `meta` attribute, for example:

In [5]:
si2_col.meta

{'Number of transitions': '406',
 'Number of T values OMEGA tabulated at': '14',
 'Scaling factor for OMEGA (non-FILE values)': '1.0',
 'Value for OMEGA if f=0': '0.1'}

And the table is stored in the `base` attribute:

In [6]:
si2_lvl.base

,Configuration,g,E(cm^-1),10^15 Hz,eV,Lam(A),ID,ARAD,C4,C6
0,3s2_3p_2Po[1/2],2.0,0.00,3.95241,16.346,758.5,1,0.000000e+00,-5.290000e-17,7.470000e-33
1,3s2_3p_2Po[3/2],4.0,287.24,3.94380,16.310,760.2,2,0.000000e+00,-5.300000e-17,7.460000e-33
2,3s_3p2_4Pe[1/2],2.0,42824.29,2.66857,11.036,1123.0,3,1.222000e+04,-5.340000e-17,7.490000e-33
3,3s_3p2_4Pe[3/2],4.0,42932.62,2.66532,11.023,1125.0,4,2.110000e+03,-5.340000e-17,7.490000e-33
4,3s_3p2_4Pe[5/2],6.0,43107.91,2.66007,11.001,1127.0,5,3.246000e+03,-5.350000e-17,7.490000e-33
...,...,...,...,...,...,...,...,...,...,...
152,3s_3p(3Po)4p_4Pe[3/2],4.0,134079.00,-0.06718,-0.278,-44630.0,153,1.159000e+08,-1.500000e-16,3.080000e-32
153,3s_3p(3Po)4p_4Pe[5/2],6.0,134213.63,-0.07122,-0.295,-42100.0,154,1.167000e+08,-1.500000e-16,3.090000e-32
154,3s_3p(3Po)4p_4Se[3/2],4.0,134905.28,-0.09195,-0.380,-32600.0,155,9.275000e+07,-9.750000e-17,2.770000e-32
155,3p3_2Do[5/2],6.0,135297.30,-0.10370,-0.429,-28910.0,156,2.437000e+09,4.200000e-17,1.450000e-32
156,3p3_2Do[3/2],4.0,135303.50,-0.10389,-0.430,-28860.0,157,2.438000e+09,1.390000e-17,1.460000e-32

Finally, dump the data with the `to_hdf` method.

### Photoionization Cross-sections

Photoionization cross-sections are stored in the `pho` files.

In [7]:
from carsus.io.cmfgen import CMFGENPhotoionizationCrossSectionParser

In [8]:
si2_cross_sections = CMFGENPhotoionizationCrossSectionParser('/tmp/atomic/SIL/II/16sep15/phot_nahar_A')

[                py.warnings][WARNING] - /usr/share/miniconda3/envs/carsus/lib/python3.6/site-packages/carsus-0.1.dev652+g9f6d308-py3.6.egg/carsus/io/cmfgen/base.py:423: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df._meta = meta
 (warnings.py:99)

In [9]:
si2_cross_sections.meta

{'Date': '05-Sep-2015',
 'Number of energy levels': '93',
 'Number of photoionization routes': '2',
 'Screened nuclear charge': '2.0',
 'Final state in ion': '3s2_1Se/3s21Se',
 'Excitation energy of final state': '0.0',
 'Statistical weight of ion': '1.0',
 'Cross-section unit': 'Megabarns',
 'Split J levels': 'False',
 'Total number of data pairs': '95107'}

In this case, the `base` attribute is a list containing many DataFrames.

In [10]:
type(si2_cross_sections.base)

list

In [11]:
len(si2_cross_sections.base)

93

There are three different types of photoionization cross-sections tables: points, fit coefficients and Verner analytic fits for the ground state shells (not shown in this example).

In [12]:
si2_cross_sections.base[0]

         Energy     Sigma
0      1.000000  1.414000
1      1.000333  1.405000
2      1.000666  1.397000
3      1.000999  1.388000
4      1.001332  1.379000
...         ...       ...
1482  17.034180  0.001255
1483  18.825680  0.000929
1484  20.805590  0.000689
1485  22.993730  0.000510
1486  25.412010  0.000378

[1487 rows x 2 columns]

In [13]:
si2_cross_sections.base[92]

   Fit coefficients
0               1.0
1              30.0

### Batch Convert Files to HDF5

To convert multiple CMFGEN files to the HDF5 format import the `hdf_dump` function.

In [14]:
from carsus.io.cmfgen import hdf_dump

In [15]:
hdf_dump('/tmp/atomic/', ['osc', 'OSC', 'Osc'], CMFGENEnergyLevelsParser(), chunk_size=10, ignore_patterns=['ERROR_CHK'])

[    carsus.io.cmfgen.hdfgen][INFO] - 311 files selected. (hdfgen.py:33)

[    carsus.io.cmfgen.hdfgen][INFO] - Finished. (hdfgen.py:58)

Required parameters are `cmfgen_dir`, `patterns` and `parser`, while `chunk_size` and `ignore_patterns` are optional.

## CMFGENReader

The `CMFGENReader` mimics the structure of `GFALLReader` and provides `levels` and `lines` tables for the selected ions.

In [16]:
from carsus.io.cmfgen import CMFGENReader

<div class="alert alert-info">

**Note:**

Remember in Carsus `Si 0` is Si I, `Si 1` is Si II, etc.
    
See [Notation in Carsus](../development/notation.rst).
    
</div>

In [17]:
cmfgen_data = {'Si 1': {'levels': si2_lvl, 'lines': si2_osc}, }
cmfgen_reader = CMFGENReader(cmfgen_data, priority=20)

In [18]:
cmfgen_reader.levels

                                         energy    j                  label  \
atomic_number ion_charge level_index
14            1          0                 0.00  0.5        3s2_3p_2Po[1/2]
                         1               287.24  1.5        3s2_3p_2Po[3/2]
                         2             42824.29  0.5        3s_3p2_4Pe[1/2]
                         3             42932.62  1.5        3s_3p2_4Pe[3/2]
                         4             43107.91  2.5        3s_3p2_4Pe[5/2]
...                                         ...  ...                    ...
                         152          134079.00  1.5  3s_3p(3Po)4p_4Pe[3/2]
                         153          134213.63  2.5  3s_3p(3Po)4p_4Pe[5/2]
                         154          134905.28  1.5  3s_3p(3Po)4p_4Se[3/2]
                         155          135297.30  2.5           3p3_2Do[5/2]
                         156          135303.50  1.5           3p3_2Do[3/2]

                                     method  priority
atomic_number ion_charge level_index
14            1          0             meas        20
                         1             meas        20
                         2             meas        20
                         3             meas        20
                         4             meas        20
...                                     ...       ...
                         152           meas        20
                         153           meas        20
                         154           meas        20
                         155           meas        20
                         156           meas        20

[157 rows x 5 columns]

In [19]:
cmfgen_reader.lines

                                                              energy_lower  \
atomic_number ion_charge level_index_lower level_index_upper
14            1          0                 2                          0.00
                                           3                          0.00
                                           5                          0.00
                                           7                          0.00
                                           8                          0.00
...                                                                    ...
                         152               156                   134079.00
                         153               155                   134213.63
                                           156                   134213.63
                         154               155                   134905.28
                                           156                   134905.28

                                                              energy_upper  \
atomic_number ion_charge level_index_lower level_index_upper
14            1          0                 2                      42824.29
                                           3                      42932.62
                                           5                      55309.35
                                           7                      65500.47
                                           8                      76665.35
...                                                                    ...
                         152               156                   135303.50
                         153               155                   135297.30
                                           156                   135303.50
                         154               155                   135297.30
                                           156                   135303.50

                                                                        gf  \
atomic_number ion_charge level_index_lower level_index_upper
14            1          0                 2                  1.148200e-05
                                           3                  7.128000e-08
                                           5                  1.527600e-03
                                           7                  2.558000e-01
                                           8                  2.124000e-01
...                                                                    ...
                         152               156                1.300000e-05
                         153               155                3.963000e-06
                                           156                2.477400e-07
                         154               155                3.069200e-05
                                           156                2.697600e-06

                                                              j_lower  \
atomic_number ion_charge level_index_lower level_index_upper
14            1          0                 2                      0.5
                                           3                      0.5
                                           5                      0.5
                                           7                      0.5
                                           8                      0.5
...                                                               ...
                         152               156                    1.5
                         153               155                    2.5
                                           156                    2.5
                         154               155                    1.5
                                           156                    1.5

                                                              j_upper  \
atomic_number ion_charge level_index_lower level_index_upper
14            1          0                 2                      0.5
                                           3                      1.5
                                           5                      1.5
                                           7                      0.5
                                           8                      0.5
...                                                               ...
                         152               156                    1.5
                         153               155                    2.5
                                           156                    1.5
                         154               155                    2.5
                                           156                    1.5

                                                              wavelength
atomic_number ion_charge level_index_lower level_index_upper
14            1          0                 2                    233.5123
                                           3                    232.9231
                                           5                    180.8013
                                           7                    152.6707
                                           8                    130.4370
...                                                                  ...
                         152               156                 8166.5986
                         153               155                 9227.9015
                                           156                 9175.4062
                         154               155                25510.0000
                                           156                25110.0000

[4196 rows x 6 columns]